/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

#pending .ui-card{
    background-color: orangered !important;
    color: white !important;
}

#inComplete .ui-card{
    background-color: rgb(248, 248, 144) !important;
    color: black !important;
}

#completed .ui-card{
    background-color: lightgreen !important;
    color: black !important;
}

.ui-widget-content{
    background-color: inherit;
}

.ui-card-content{
    font-size: 1.1em !important;
    margin-bottom: 0px;
    font-weight: 600 !important;
}